extends layout
block head
  title S3 Bucket #{bucket} : #{path}

block content
  div.hero-unit
    h1
      a(href="#{url}") #{path?path:bucket}
    p
      table.table.table-striped.table-hover
          each file in files
            tr
              td
                img(src="#{file.icon}")
              td 
                a(href="#{file.path}") #{file.name}
              td 
                if !file.isFolder
                    #{file.size}
