extends layout
block head
  title S3 Bucket #{bucket} : #{path}

block content
  div.hero-unit
    h1
      a(href="#{url}") #{path?path:bucket}
    p
      table.table.table-striped.table-hover
          each file in files
            tr
              td(style="width: 4%")
                img(src="#{file.icon}")
              td 
                a(href="#{file.path}") #{file.name}
              td(style="width: 10%")
                if !file.isFolder
                  div #{file.size}
              td(style="width: 20%") #{file.modified}
